<html xmlns:th="http://www.thymeleaf.org">
 <body>
 <div th:insert="csslink"></div>
 <div class='dvv'>
   <label class='lah' style="color:chocolate;text-decoration:underline;">Transfer Money</label>
   <a href="/mybank" style="font-size:2vw;text-decoration: underline;margin-left:1vw">HOME</a>
   <input type="button" style="font-size:1.4vw;margin-left:1vw" value="Back" onclick="history.back()">
  </div> 
 <form action="transfer-money"> 
  <div class="dvv">
	  <label style="font-size:1.8vw;color:green" th:text="${'You are transfering to '+session.rname}"></label>
   </div> 	
  <table class='ta' style="background-color:cadetblue">
    <tr>
     <td class='td'>Enter total amount:</td>
     <td class='td'><input type='number' th:value="${amount}" name='amount' class='tb' required></td>
     <td class='td'><button class='bt'>Submit</button></td>
    </tr>
   </table>
  </form> 
  <div class="dvv">
	  <label style="font-size:1.8vw;color:red" th:text="${msg}"></label>
  </div>
 </body>
</html>